<div class="justify-center">
  <div class="mb-5 block p-6 rounded-lg shadow-lg bg-white max-w-sm">
    <h5 class="text-gray-900 text-xl leading-tight font-medium mb-2">
      <%= @account.name %>
    </h5>

    <p class="text-gray-700 text-base mb-4">
      <%= @account.username %>
    </p>

    <%= render Accounts::FollowComponent.new(account: @account, current_account: @current_account) %>
    <%= render Accounts::UnfollowComponent.new(account: @account, current_account: @current_account) %>
  </div>
</div>
