<div class="m-5">
  <%= form_with model: tweet do |form| %>
    <%= form.text_field :content %>
    <%= exceptional_messages tweet.content %>

  <p class="mt-5">
    <%= render(Primer::ButtonComponent::Primary.new(type: :submit)) { "Post" } %>
  </p>
  <% end %>
</div>
