<div>
  <h1 class="font-bold text-4xl">Accounts</h1>

  <% @accounts.each do |account| %>
    <%= render Accounts::UserCardComponent.new(account: account, current_account: current_account) %>
  <% end %>
</div>
